/*
Syntax error: File to import not found or unreadable: compass.
              Load path: /Users/johnjaeckle/Sites/AmGirlResponsive/sass
        on line 1 of AmGirlResp.scss

1: @import "compass";
2: 
3: $base-font-size:16px;
4: $berry-dark: #861836;
5: $berry-light:#D98AB0;
6: $berry-medium:#A10A4E;//bottom of gradient button

Backtrace:
AmGirlResp.scss:1
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:45:in `import'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/exec.rb:443:in `watch_or_update'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/exec.rb:326:in `process_result'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/exec.rb:41:in `parse'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/lib/sass/exec.rb:21:in `parse!'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.13/bin/scss:13:in `<top (required)>'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/bin/scss:23:in `load'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/bin/scss:23:in `<main>'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `eval'
/Users/johnjaeckle/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load path: /Users/johnjaeckle/Sites/AmGirlResponsive/sass\A         on line 1 of AmGirlResp.scss\A \A 1: @import \"compass\";\A 2: \A 3: $base-font-size:16px;\A 4: $berry-dark: #861836;\A 5: $berry-light:#D98AB0;\A 6: $berry-medium:#A10A4E;//bottom of gradient button"; }
