/*box shadow styles*/
.insetField {
  box-shadow: inset 0 0 .1em #D1D1D1;
  -moz-box-shadow: inset 0 0 .1em #D1D1D1;
  -webkit-box-shadow: inset 0 0 .1em #D1D1D1;
  background: transparent; }

.bottom_shadow_border_gray {
  box-shadow: 3px 4px 4px -2px gray;
  -moz-box-shadow: 3px 4px 4px -2px gray;
  -webkit-box-shadow: 3px 4px 4px -2px gray; }

.shadow_top {
  box-shadow: 1px -5px 29px -2px rgba(31, 30, 31, 0.42); }

.shadow_top_footer {
  box-shadow: 0px -2px 10px -2px rgba(31, 30, 31, 0.65);
  -moz-box-shadow: 0px -2px 10px -2px rgba(31, 30, 31, 0.65); }

.shadow_right {
  box-shadow: -5px 0 5px -5px #333; }

.shadow_bottom {
  box-shadow: 3px 13px 18px -13px #333333; }

.shadow_left {
  box-shadow: 5px 0 5px -5px #333; }

.shadow_all {
  box-shadow: 0px -5px 43px 9px rgba(0, 0, 0, 0.75); }

html {
  @font-face {
    font-family: myFirstFont;
    src: "fonts/agenda/agenda-light-webfont.woff"; }
 }

body {
  font-size: 16px;
  font-family: agenda; }

/*link styling */
.berry-GradientButton {
  background-color: #a10a4e;
  background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#cb006d), to(#a10a4e));
  background: -moz-linear-gradient(top, #cb006d 0%, #a10a4e 50%);
  display: inline-block;
  font-size: 18px;
  border: 1px solid #861836;
  border-left: none;
  padding: 3% 5.5%;
  position: relative;
  margin-left: -4px;
  min-height: 35px;
  line-height: 35px;
  width: auto; }
  .berry-GradientButton a {
    color: #fff;
    text-decoration: none; }

.innerGlow_Button {
  font-size: 1.15em;
  background-color: #F1DAE5;
  padding: 1.5% 3.2%;
  margin-left: -4px;
  box-shadow: inset 0px -19px 64px 14px rgba(255, 255, 255, 0.95), inset -8px -11px 11px -11px rgba(0, 0, 0, 0.95);
  border: 1px solid #D488A7;
  border-width: 1px 1px 0 0;
  border-bottom: none;
  display: inline-block;
  min-height: 35px;
  line-height: 35px;
  width: auto; }
  .innerGlow_Button a {
    height: 40px;
    color: #a10a4e;
    padding: 0 1%;
    text-decoration: none;
    background-color: rgba(242, 221, 232, 0.2);
    border-radius: 12px; }

header {
  background-color: #861836;
  /*dark berry*/
  height: 15%;
  width: 100%;
  padding-bottom: 15px;
  /*background-image: url("img/AG_Logo.png");*/ }
  header .logoHolder {
    display: inline-block;
    width: 47%; }
    header .logoHolder img {
      padding: 1% 0 0 5%;
      width: 80%; }
  header .rightSideHeader {
    width: 49%;
    position: relative;
    display: inline-block;
    color: white;
    margin: 1.2% 0 1% 1.5%; }
    header .rightSideHeader .menuHolder {
      margin-left: 35%;
      display: block;
      margin-bottom: 3%; }
      header .rightSideHeader .menuHolder .checkoutMenu {
        display: inline-block;
        list-style-type: none;
        font-size: 1em;
        text-align: left;
        color: #d98ab0;
        margin: 1.5% 21% 0 0; }
      header .rightSideHeader .menuHolder li {
        list-style: none;
        font-size: 1.25em;
        display: inline;
        color: white;
        padding: 4px 8px; }
      header .rightSideHeader .menuHolder li:first-child {
        padding-left: 0; }
      header .rightSideHeader .menuHolder a {
        color: white;
        font-size: .80em;
        text-align: right;
        text-decoration: none; }
    header .rightSideHeader .searchHolder {
      height: 25%;
      line-height: 25px;
      margin-left: 35%;
      display: block;
      color: gray;
      background-color: white;
      text-align: right; }
      header .rightSideHeader .searchHolder input {
        padding-left: 5%;
        display: inline-block;
        width: 80%;
        border: none;
        text-align: left; }
      header .rightSideHeader .searchHolder i {
        text-align: right;
        padding-right: 2%;
        font-size: .82em; }
    header .rightSideHeader .telLink {
      display: inline-block;
      /*this will change responsively*/
      width: auto;
      position: absolute;
      /*we need to chagne this at breakbpoints*/
      right: 0;
      margin-top: 1.8%;
      /*we need to chagne this at breakbpoints*/
      margin-bottom: 1%;
      /*we need to chagne this at breakbpoints*/ }

.linkMenu_horizontal {
  margin-left: 3%;
  list-style-type: none;
  display: inline; }
  .linkMenu_horizontal li {
    display: inline;
    color: #ffffff;
    padding: 0 2px; }
  .linkMenu_horizontal a {
    text-decoration: none; }

.linkMenu_Right {
  margin-right: 1.5%;
  float: right;
  height: 40px;
  font-size: 1.1em; }
  .linkMenu_Right a {
    color: #ffffff; }

.Menu_Holder_body_1 {
  background-color: #861836;
  height: 2em;
  position: relative;
  display: block;
  color: #b43a69;
  border-top: 1px #b43a69 solid;
  padding: 10px 0 15px 0; }
  .Menu_Holder_body_1 .categoryMenu {
    font-size: 1em;
    margin-left: 6.2%; }
    .Menu_Holder_body_1 .categoryMenu a {
      padding: 1% .5%;
      text-decoration: none;
      color: white;
      font-size: 1em;
      width: auto; }

.Menu_Holder_body_2 {
  background-color: #ffffff;
  height: 2.9em;
  position: relative;
  width: 100%; }

.shoppingActionsMenu {
  position: absolute;
  display: inline-block;
  margin-top: -1.75%;
  box-sizing: border-box;
  background: transparent;
  min-width: 30%;
  width: auto;
  right: 2%; }

.product_Category_Link_Menu {
  margin: -1.75% 0 0 3.2%;
  display: inline-block;
  min-width: 61%;
  width: auto;
  position: relative;
  background: transparent; }
  .product_Category_Link_Menu li:first-child {
    border-left: 1px solid #D488A7; }

.cat-Nav {
  margin-top: 20px;
  color: #861836;
  font-size: 1em; }
  .cat-Nav a {
    color: #861836;
    /* it turn out this inherits from the link menu horizontal, not so explicit color */ }

.grayBar {
  height: 3%;
  border: 1px lightgray solid;
  white-space: pre;
  background-color: #eee;
  margin: 1% 2% 2% 3%; }

.bottomBox {
  margin: 1% 0 1.5% 0;
  padding: 0;
  border: 1px solid #a10a4e;
  text-align: center;
  color: #666672;
  border: none; }
  .bottomBox .big_Text {
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 3px; }
  .bottomBox .small_Text {
    font-size: .9em; }

.berry_seperator_span {
  height: 1px;
  background-color: #FCE9F2;
  color: #FCE9F2;
  margin: 1% 2% 2% 3%; }

.plHolder-3Col-Cell {
  display: block;
  width: 252px;
  height: 297px;
  background-color: whitesmoke;
  border: 1px solid grey;
  margin: 2px; }

/*Product Area - two sides, filter, expended and a grid with a banner with a banner area*/
.productArea {
  margin: 1% 2% 2% 3%;
  text-decoration: none; }
  .productArea ul:last-of-type li:last-of-type {
    margin-bottom: 5%; }
  .productArea ul:last-of-type li:first-of-type {
    margin-top: 2%; }
  .productArea .filter_Expanded {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 17.5%;
    margin-right: 2.5%; }
    .productArea .filter_Expanded a {
      text-decoration: none; }
    .productArea .filter_Expanded .level_2 {
      margin-bottom: 20px; }
      .productArea .filter_Expanded .level_2 a {
        color: #cb006d;
        font-weight: 600;
        font-size: 1.2em; }
    .productArea .filter_Expanded .level_3 {
      padding-bottom: 14px;
      border-bottom: 1px solid #cacaca; }
      .productArea .filter_Expanded .level_3 a {
        color: #F6AFD6;
        font-weight: 500;
        font-size: 1.15em; }
    .productArea .filter_Expanded .p_category {
      margin-left: 1%;
      padding: 1% 0 1% 0; }
      .productArea .filter_Expanded .p_category a {
        color: #000000;
        font-size: 16px;
        font-weight: 400; }
    .productArea .filter_Expanded .product {
      margin-left: 3%;
      line-height: 1.4em; }
      .productArea .filter_Expanded .product a {
        color: #878787; }
  .productArea .image_Area {
    display: inline-block;
    vertical-align: top; }
    .productArea .image_Area .banner_Area {
      display: block; }
      .productArea .image_Area .banner_Area .div_imgHolder {
        display: inline-block;
        width: 58%;
        white-space: pre;
        margin-right: 2%;
        background: url("../img/Img_Historical_Char_Main_noText.png") center right no-repeat; }
    .productArea .image_Area .div_gridHolder {
      white-space: pre;
      border: 1px solid blue; }

footer {
  background: rgba(255, 214, 235, 0.85);
  background: -moz-linear-gradient(top, rgba(255, 214, 235, 0.85) 0%, rgba(255, 225, 240, 0.85) 26%, #fff3f9 71%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 214, 235, 0.85)), color-stop(26%, rgba(255, 225, 240, 0.85)), color-stop(71%, #fff3f9), color-stop(100%, white));
  background: -webkit-linear-gradient(top, rgba(255, 214, 235, 0.85) 0%, rgba(255, 225, 240, 0.85) 26%, #fff3f9 71%, white 100%);
  margin-top: -1.5%;
  height: auto; }
  footer a {
    color: #494848;
    text-decoration: none; }
  footer .footerLinks {
    padding: .5% 4%; }
    footer .footerLinks .column {
      display: inline-block;
      position: relative;
      font-size: .8em;
      line-height: 1.2em;
      width: 20%;
      vertical-align: top;
      text-align: left;
      border-right: 1px solid white;
      padding: 0 1.5% 0 1.5%;
      margin-left: 1%; }
    footer .footerLinks :last-child {
      border-right: none; }
    footer .footerLinks :first-child {
      margin-left: -.2%; }
    footer .footerLinks .footerHeader {
      font-weight: bold;
      margin: 10px 0 5px 0;
      font-size: 1.2em;
      font-weight: 700;
      color: #A6383A; }
  footer .disclaimers {
    padding: 1% 0;
    background-color: #ECE7E8;
    text-align: center;
    color: #000;
    font-size: .9em; }
    footer .disclaimers .privacy {
      line-height: 20px; }
      footer .disclaimers .privacy a {
        color: #980268;
        text-transform: capitalize; }
    footer .disclaimers .legal a {
      color: #000; }

/* the grid code */
/*this is a test 3 column grid.. we probably won't use it*/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%; }

.span_2_of_3 {
  width: 66.1%; }

.span_1_of_3 {
  width: 32%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; } }
@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%; }

  .span_2_of_3 {
    width: 100%; }

  .span_1_of_3 {
    width: 100%; } }
/*end of basic three column grid*/
/* 18 columns grid*/
/*//////////////////////////////////// grid setup */
/* note that box-sizing: border-box; is required for this solution */
/* optionally use clearfix to clear floats and delete these styles */
.half,
.third,
.grid-container {
  overflow: hidden; }

/*//////////////////////////////////// mobile first grid */
.grid-18,
.grid-15,
.grid-12,
.grid-9,
.grid-6,
.grid-3,
.grid-1 {
  clear: both;
  width: 100%; }

.half,
.third {
  float: left;
  clear: none; }

.half {
  width: 50%; }

.third {
  width: 33.3333333%; }

.gutters .whole,
.gutters .half,
.gutters .third {
  margin-right: 1%;
  margin-left: 1%; }

.gutters .whole {
  width: 98%; }

.gutters .half {
  width: 48%; }

.gutters .third {
  width: 31.3333333%; }

.gutters {
  margin-left: -1%;
  margin-right: -1%; }

/*Media Queries begin here*/
.productGrid_3 {
  position: absolute;
  width: 100%; }

@media all and (max-width: 75em) {
  div {
    border: 1px dashed yellow; }

  .my-breakpoint.ui-grid-b .ui-block-a {
    width: 49.95%; }

  .my-breakpoint.ui-grid-b .ui-block-b,
  .my-breakpoint.ui-grid-b .ui-block-c {
    width: 24.925%; }

  .my-breakpoint.ui-grid-b .ui-block-a {
    clear: left; } }
@media all and (max-width: 65em) {
  div {
    background-color: lightblue; }

  .my-breakpoint .ui-block-a,
  .my-breakpoint .ui-block-b,
  .my-breakpoint .ui-block-c,
  .my-breakpoint .ui-block-d,
  .my-breakpoint .ui-block-e {
    width: 100%;
    float: none; } }
.factory {
  width: 100%; }
  @media (min-width: 960px) {
    .factory {
      width: 62.5%; } }
  @media (max-width: 768px) {
    .factory {
      width: 50%; } }

.factory {
  width: 100%;
  width: 62.5%;
  width: 50%; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */ }
