/* simple utility to show or hide div based on media query default values*/
/* line 67, ../sass/AmGirlResp.scss */
.mobile_hide {
  display: inherit;
}

/* line 71, ../sass/AmGirlResp.scss */
.mobile_show {
  display: none;
}

/*box shadow styles*/
/* line 77, ../sass/AmGirlResp.scss */
.insetField {
  box-shadow: inset 0 0 .1em #D1D1D1;
  -moz-box-shadow: inset 0 0 .1em #D1D1D1;
  -webkit-box-shadow: inset 0 0 .1em #D1D1D1;
  background: transparent;
}

/* line 85, ../sass/AmGirlResp.scss */
.bottom_shadow_border_gray {
  box-shadow: 3px 4px 4px -2px gray;
  -moz-box-shadow: 3px 4px 4px -2px gray;
  -webkit-box-shadow: 3px 4px 4px -2px gray;
}

/* line 91, ../sass/AmGirlResp.scss */
.shadow_top {
  box-shadow: 1px -5px 29px -2px rgba(31, 30, 31, 0.42);
}

/* line 96, ../sass/AmGirlResp.scss */
.shadow_top_footer {
  box-shadow: 0px -2px 10px -2px rgba(31, 30, 31, 0.65);
  -moz-box-shadow: 0px -2px 10px -2px rgba(31, 30, 31, 0.65);
}

/* line 102, ../sass/AmGirlResp.scss */
.shadow_right {
  box-shadow: -5px 0 5px -5px #333;
}

/* line 107, ../sass/AmGirlResp.scss */
.shadow_bottom {
  box-shadow: 3px 13px 18px -13px #333333;
}

/* line 111, ../sass/AmGirlResp.scss */
.shadow_left {
  box-shadow: 5px 0 5px -5px #333;
}

/* line 115, ../sass/AmGirlResp.scss */
.shadow_all {
  box-shadow: 0px -5px 43px 9px rgba(0, 0, 0, 0.75);
}

/* font stuff*/
@font-face {
  font-family: 'agenda-light';
  src: url("../stylesheets/fonts/agenda/agenda-light-webfont.otf") format("otf"), url("../stylesheets/fonts/agenda/agenda-light-webfont.eot?") format("eot"), url("../stylesheets/fonts/agenda/agenda-light-webfont.ttf") format("ttf"), url("../stylesheets/fonts/agenda/agenda-light-webfont.svg") format("svg");
}

@font-face {
  font-family: 'agenda-medium';
  src: url("../stylesheets/fonts/agenda/agenda-medium-webfont.otf") format("otf"), url("../stylesheets/fonts/agenda/agenda-medium-webfont.eot") format("eot"), url("../stylesheets/fonts/agenda/agenda-medium-webfont.ttf") format("ttf"), url("../stylesheets/fonts/agenda/agenda-medium-webfont.svg") format("svg");
}

@font-face {
  font-family: 'agenda-bold';
  src: url("../stylesheets/fonts/agenda/agenda-bold-webfont.woff") format("woff"), url("../stylesheets/fonts/agenda/agenda-bold-webfont.eot") format("eot"), url("../stylesheets/fonts/agenda/agenda-bold-webfont.ttf") format("ttf"), url("../stylesheets/fonts/agenda/agenda-bold-webfont.svg") format("svg");
}

/* line 152, ../sass/AmGirlResp.scss */
body {
  font-size: 16px;
  font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
  box-sizing: border-box;
  max-width: 1024px;
  margin: auto;
}

/* line 164, ../sass/AmGirlResp.scss */
#c_carousel {
  position: relative;
  height: 10%;
  /* Style the pagination button with dot */
  /* Same as prev and next button, we use the same css sprite */
}
/* line 167, ../sass/AmGirlResp.scss */
#c_carousel .pager {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: none;
}
/* line 176, ../sass/AmGirlResp.scss */
#c_carousel .pager a {
  margin: 0 5px 0 0;
  text-decoration: none;
  display: inline-block;
  width: 32%;
  height: 8px;
  /*background: transparent url('images/carousel_control.png') no-repeat -2px -32px;*/
  text-indent: -999em;
  background-color: gray;
}
/* line 186, ../sass/AmGirlResp.scss */
#c_carousel .pager a.selected {
  text-decoration: underline;
  /*background: transparent url('images/carousel_control.png') no-repeat -12px -32px;*/
  background-color: red;
}

/* line 193, ../sass/AmGirlResp.scss */
#carousel img {
  max-width: 100%;
  width: 159px;
  height: 239px;
}

/* line 199, ../sass/AmGirlResp.scss */
.carouselArrow_Left {
  position: absolute;
  width: 50%;
  background: url("../img/leftArrow.png") no-repeat left;
  background-size: 11%;
  border: 1px solid rgba(235, 232, 232, 0.5);
  height: 15%;
  margin-top: -18%;
}

/* line 208, ../sass/AmGirlResp.scss */
.carouselArrow_Right {
  position: absolute;
  width: 50%;
  right: 0;
  background: url("../img/rightArrow.png") no-repeat right;
  background-size: 7%;
  border: 1px solid rgba(235, 232, 232, 0.5);
  height: 15%;
  margin-top: -18%;
}

/*link styling */
/* line 221, ../sass/AmGirlResp.scss */
.berry-GradientButton {
  background-color: #a10a4e;
  background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#cb006d), to(#a10a4e));
  background: -moz-linear-gradient(top, #cb006d 0%, #a10a4e 50%);
  display: inline-block;
  font-size: 1.05em;
  border: 1px solid #861836;
  border-left: none;
  padding: 2.2% 5%;
  position: relative;
  margin-left: -4px;
  line-height: 2em;
  width: auto;
}
/* line 235, ../sass/AmGirlResp.scss */
.berry-GradientButton a {
  color: #fff;
  text-decoration: none;
}

/* line 243, ../sass/AmGirlResp.scss */
.innerGlow_Button {
  font-size: 1.10em;
  background-color: #F1DAE5;
  padding: 1.1% 2.43%;
  margin-left: -4px;
  box-shadow: inset 0px -19px 64px 14px rgba(255, 255, 255, 0.95), inset -8px -11px 11px -11px rgba(0, 0, 0, 0.95);
  border: 1px solid #D488A7;
  border-width: 1px 1px 0 0;
  border-bottom: none;
  display: inline-block;
  line-height: 2em;
  width: auto;
}
/* line 256, ../sass/AmGirlResp.scss */
.innerGlow_Button a {
  height: 40px;
  color: #a10a4e;
  padding: 0 1%;
  text-decoration: none;
  background-color: rgba(242, 221, 232, 0.2);
  border-radius: 12px;
}

/* line 268, ../sass/AmGirlResp.scss */
header {
  background-color: #861836;
  /*dark berry*/
  height: 15%;
  width: 100%;
  padding-bottom: 15px;
}
/* line 274, ../sass/AmGirlResp.scss */
header #verticalMenu_Header {
  display: none;
}
/* line 278, ../sass/AmGirlResp.scss */
header .logoHolder {
  display: inline-block;
  background-image: url("../img/AG_Logo_wText.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: 1.25em;
  height: 60px;
  width: 52%;
  /*img{
    padding: 1% 0 0 5%;
    width: 80%;
  }*/
}
/* line 292, ../sass/AmGirlResp.scss */
header .rightSideHeader {
  width: 41%;
  position: relative;
  display: inline-block;
  color: white;
  margin: 1.2% 2% 1% 1.5%;
}
/* line 299, ../sass/AmGirlResp.scss */
header .rightSideHeader .menuHolder {
  margin-left: 35%;
  display: block;
  margin-bottom: 3%;
}
/* line 304, ../sass/AmGirlResp.scss */
header .rightSideHeader .menuHolder .checkoutMenu {
  display: inline-block;
  list-style-type: none;
  font-size: 1em;
  text-align: left;
  color: #d98ab0;
  margin: 1% 1% 0 0;
}
/* line 313, ../sass/AmGirlResp.scss */
header .rightSideHeader .menuHolder li {
  list-style: none;
  font-size: 1.1em;
  display: inline;
  color: white;
  padding: 1px 1px;
}
/* line 320, ../sass/AmGirlResp.scss */
header .rightSideHeader .menuHolder li:first-child {
  padding-left: 0;
}
/* line 323, ../sass/AmGirlResp.scss */
header .rightSideHeader .menuHolder a {
  color: white;
  font-size: .80em;
  text-align: right;
  text-decoration: none;
}
/* line 330, ../sass/AmGirlResp.scss */
header .rightSideHeader .searchHolder {
  height: 25%;
  line-height: 25px;
  margin-left: 35%;
  display: block;
  color: gray;
  background-color: white;
  text-align: right;
}
/* line 339, ../sass/AmGirlResp.scss */
header .rightSideHeader .searchHolder input {
  padding-left: 5%;
  display: inline-block;
  width: 80%;
  border: none;
  text-align: left;
}
/* line 346, ../sass/AmGirlResp.scss */
header .rightSideHeader .searchHolder i {
  text-align: right;
  padding-right: 2%;
  font-size: .82em;
}
/* line 352, ../sass/AmGirlResp.scss */
header .rightSideHeader .telLink {
  display: inline-block;
  /*this will change responsively*/
  width: 6.25em;
  position: absolute;
  /*we need to chagne this at breakbpoints*/
  right: 0;
  margin-top: 1.8%;
  /*we need to chagne this at breakbpoints*/
  margin-bottom: 1%;
  /*we need to chagne this at breakbpoints*/
}

/* line 363, ../sass/AmGirlResp.scss */
.linkMenu_horizontal {
  margin-left: 3%;
  list-style-type: none;
  display: inline;
}
/* line 369, ../sass/AmGirlResp.scss */
.linkMenu_horizontal li {
  display: inline;
  color: #ffffff;
  padding: 0 2px;
}
/* line 374, ../sass/AmGirlResp.scss */
.linkMenu_horizontal a {
  text-decoration: none;
}

/* line 378, ../sass/AmGirlResp.scss */
.linkMenu_Right {
  margin-right: 1.5%;
  float: right;
  height: 40px;
  font-size: 1.1em;
}
/* line 383, ../sass/AmGirlResp.scss */
.linkMenu_Right a {
  color: #ffffff;
}

/* line 387, ../sass/AmGirlResp.scss */
.Menu_Holder_body_1 {
  background-color: #861836;
  height: 2em;
  position: relative;
  display: block;
  color: #b43a69;
  border-top: 1px #b43a69 solid;
  padding: 10px 0 15px 0;
}
/* line 395, ../sass/AmGirlResp.scss */
.Menu_Holder_body_1 .categoryMenu {
  font-size: 1em;
  margin-left: 6.2%;
}
/* line 398, ../sass/AmGirlResp.scss */
.Menu_Holder_body_1 .categoryMenu a {
  padding: 1% .5%;
  text-decoration: none;
  color: white;
  font-size: 1em;
  width: auto;
}

/* line 408, ../sass/AmGirlResp.scss */
.Menu_Holder_body_2 {
  background-color: #ffffff;
  height: 2.9em;
  position: relative;
  width: 100%;
}

/* line 417, ../sass/AmGirlResp.scss */
.shoppingActionsMenu {
  position: absolute;
  display: inline-block;
  margin-top: -1.75%;
  box-sizing: border-box;
  background: transparent;
  min-width: 30%;
  width: auto;
  right: 2%;
}

/* line 428, ../sass/AmGirlResp.scss */
.product_Category_Link_Menu {
  margin: -1.75% 0 0 3.2%;
  display: inline-block;
  min-width: 61%;
  width: auto;
  position: relative;
  background: transparent;
}
/* line 435, ../sass/AmGirlResp.scss */
.product_Category_Link_Menu li:first-child {
  border-left: 1px solid #D488A7;
}

/* line 440, ../sass/AmGirlResp.scss */
.cat-Nav {
  margin-top: 20px;
  color: #861836;
  font-size: 1em;
}
/* line 444, ../sass/AmGirlResp.scss */
.cat-Nav a {
  color: #861836;
  /* it turn out this inherits from the link menu horizontal, not so explicit color */
}

/* line 450, ../sass/AmGirlResp.scss */
.grayBar {
  height: 3%;
  border: 1px lightgray solid;
  white-space: pre;
  background-color: #eee;
  margin: 1% 2% 2% 3%;
}

/* line 457, ../sass/AmGirlResp.scss */
.bottomBox {
  margin: 1% 0 1.5% 0;
  padding: 0;
  border: 1px solid #a10a4e;
  text-align: center;
  color: #666672;
  border: none;
}
/* line 464, ../sass/AmGirlResp.scss */
.bottomBox .big_Text {
  font-size: 1em;
  font-weight: 800;
  margin-bottom: 3px;
}
/* line 469, ../sass/AmGirlResp.scss */
.bottomBox .small_Text {
  font-size: .9em;
}

/* line 475, ../sass/AmGirlResp.scss */
.berry_seperator_span {
  height: 1px;
  background-color: #FCE9F2;
  color: #FCE9F2;
  margin: 1% 2% 2% 3%;
}

/* line 484, ../sass/AmGirlResp.scss */
.plHolder-3Col-Cell {
  display: block;
  width: 252px;
  height: 297px;
  background-color: whitesmoke;
  border: 1px solid grey;
  margin: 2px;
}

/*Product Area - two sides, filter, expended and a grid with a banner with a banner area*/
/* line 494, ../sass/AmGirlResp.scss */
.productArea {
  margin: 1% 2% 2% 3%;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
}
/* line 499, ../sass/AmGirlResp.scss */
.productArea img {
  width: 100%;
}
/* line 501, ../sass/AmGirlResp.scss */
.productArea ul:last-of-type li:last-of-type {
  margin-bottom: 5%;
}
/* line 505, ../sass/AmGirlResp.scss */
.productArea ul:last-of-type li:first-of-type {
  margin-top: 2%;
}
/* line 510, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 18.65234%;
  margin-right: .5%;
}
/* line 516, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded a {
  text-decoration: none;
}
/* line 519, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded .level_2 {
  margin-bottom: 20px;
}
/* line 521, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded .level_2 a {
  color: #cb006d;
  font-weight: 600;
  font-size: 1.2em;
}
/* line 527, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded .level_3 {
  padding-bottom: 0.875em;
  border-bottom: 1px solid #cacaca;
}
/* line 530, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded .level_3 a {
  color: #F6AFD6;
  font-weight: 500;
  font-size: 1.15em;
}
/* line 536, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded .p_category {
  margin-left: 1%;
  padding: 1% 0 1% 0;
}
/* line 539, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded .p_category a {
  color: #000000;
  font-size: 1em;
  font-weight: 400;
}
/* line 545, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded .product {
  margin-left: 3%;
  line-height: 1.4em;
}
/* line 548, ../sass/AmGirlResp.scss */
.productArea .filter_Expanded .product a {
  color: #878787;
}
/* line 556, ../sass/AmGirlResp.scss */
.productArea .image_Area {
  margin: 1% 0 0 0;
  display: inline-block;
  width: 75.5%;
  vertical-align: top;
  border: 1px solid blue;
  padding: 0 0;
  margin: auto;
  box-sizing: border-box;
}
/* line 565, ../sass/AmGirlResp.scss */
.productArea .image_Area .banner_Area {
  display: block;
}
/* line 568, ../sass/AmGirlResp.scss */
.productArea .image_Area .banner_Area .bannerImgHolder {
  display: inline-block;
  width: 57%;
}
/* line 581, ../sass/AmGirlResp.scss */
.productArea .image_Area .banner_Area .imgText {
  display: inline-block;
  width: 41.25%;
  font-size: 0.875em;
  vertical-align: top;
  text-align: center;
  padding: 8% 0 4.5% 0;
  box-sizing: border-box;
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF1DBFF');
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f1dbff 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f1dbff 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f1dbff 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f1dbff 100%);
}
/* line 592, ../sass/AmGirlResp.scss */
.productArea .image_Area .banner_Area .imgText p {
  margin: 8% 6% 3% 6%;
  display: block;
}
/* line 598, ../sass/AmGirlResp.scss */
.productArea .image_Area .banner_Area .imgText_5col {
  display: inline-block;
  width: 41.25%;
  font-size: 0.875em;
  vertical-align: top;
  text-align: center;
  padding: 8% 0 4.5% 0;
  box-sizing: border-box;
  background-color: #ffd8a1;
  /* Old Browsers */
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFCFC', endColorstr='#FFFFD8A1');
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #ffd8a1 100%);
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #ffd8a1 100%);
  background-image: -o-linear-gradient(top, #fcfcfc 0%, #ffd8a1 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #ffd8a1 100%);
}
/* line 609, ../sass/AmGirlResp.scss */
.productArea .image_Area .banner_Area .imgText_5col p {
  margin: 8% 6% 3% 6%;
  display: block;
}
/* line 615, ../sass/AmGirlResp.scss */
.productArea .image_Area .banner_Area .small_Headline {
  font-family: "agenda-medium";
  font-size: 1.375em;
  display: block;
  width: 100%;
  text-align: center;
}
/* line 622, ../sass/AmGirlResp.scss */
.productArea .image_Area .banner_Area .inspire_Headline {
  font-family: "agenda-light";
  color: #6C217F;
  font-size: 1.625em;
  display: block;
  margin-top: 1%;
}
/* line 631, ../sass/AmGirlResp.scss */
.productArea .image_Area #c_carousel {
  display: none;
}
/* line 634, ../sass/AmGirlResp.scss */
.productArea .image_Area .div_gridHolder {
  white-space: pre;
  border: 1px solid blue;
}
/* line 638, ../sass/AmGirlResp.scss */
.productArea .image_Area .GridArea_2 {
  position: relative;
  margin: 2% 0;
}
/* line 642, ../sass/AmGirlResp.scss */
.productArea .image_Area .grid_image {
  max-width: 100%;
  width: 32%;
}
/* line 646, ../sass/AmGirlResp.scss */
.productArea .image_Area .leftSide58 {
  width: 58%;
  /*this is for the 5 image col page, lower image, left side*/
  display: inline-block;
}
/* line 650, ../sass/AmGirlResp.scss */
.productArea .image_Area .rightSide40 {
  width: 40%;
  /*this is for the 5 image col page, lower image, right side*/
  display: inline-block;
}

/* line 660, ../sass/AmGirlResp.scss */
footer {
  background: rgba(255, 214, 235, 0.85);
  background: -moz-linear-gradient(top, rgba(255, 214, 235, 0.85) 0%, rgba(255, 225, 240, 0.85) 26%, #fff3f9 71%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 214, 235, 0.85)), color-stop(26%, rgba(255, 225, 240, 0.85)), color-stop(71%, #fff3f9), color-stop(100%, white));
  background: -webkit-linear-gradient(top, rgba(255, 214, 235, 0.85) 0%, rgba(255, 225, 240, 0.85) 26%, #fff3f9 71%, white 100%);
  margin-top: -1.5%;
  height: auto;
}
/* line 670, ../sass/AmGirlResp.scss */
footer a {
  color: #494848;
  text-decoration: none;
}
/* line 674, ../sass/AmGirlResp.scss */
footer .footerLinks {
  padding: .5% 4%;
}
/* line 676, ../sass/AmGirlResp.scss */
footer .footerLinks .column {
  display: inline-block;
  position: relative;
  font-size: .8em;
  line-height: 1.2em;
  width: 20%;
  vertical-align: top;
  text-align: left;
  border-right: 1px solid white;
  padding: 0 1.5% 0 1.5%;
  margin-left: 1%;
}
/* line 688, ../sass/AmGirlResp.scss */
footer .footerLinks :last-child {
  border-right: none;
}
/* line 691, ../sass/AmGirlResp.scss */
footer .footerLinks :first-child {
  margin-left: -.2%;
}
/* line 694, ../sass/AmGirlResp.scss */
footer .footerLinks .footerHeader {
  font-weight: bold;
  margin: 10px 0 5px 0;
  font-size: 1.2em;
  font-weight: 700;
  color: #A6383A;
}
/* line 702, ../sass/AmGirlResp.scss */
footer .disclaimers {
  padding: 1% 0;
  background-color: #ECE7E8;
  text-align: center;
  color: #000;
  font-size: .9em;
}
/* line 708, ../sass/AmGirlResp.scss */
footer .disclaimers .privacy {
  line-height: 20px;
}
/* line 710, ../sass/AmGirlResp.scss */
footer .disclaimers .privacy a {
  color: #980268;
  text-transform: capitalize;
}
/* line 716, ../sass/AmGirlResp.scss */
footer .disclaimers .legal a {
  color: #000;
}

/* the grid code */
/* 18 columns grid*/
/*//////////////////////////////////// grid setup */
/* note that box-sizing: border-box; is required for this solution */
/* optionally use clearfix to clear floats and delete these styles */
/* line 733, ../sass/AmGirlResp.scss */
.half,
.third,
.grid-container {
  overflow: hidden;
}

/*//////////////////////////////////// mobile first grid */
/* line 745, ../sass/AmGirlResp.scss */
.grid-18,
.grid-15,
.grid-12,
.grid-9,
.grid-6,
.grid-3,
.grid-1 {
  clear: both;
  width: 100%;
}

/* line 751, ../sass/AmGirlResp.scss */
.half,
.third {
  float: left;
  clear: none;
}

/* line 753, ../sass/AmGirlResp.scss */
.half {
  width: 50%;
}

/* line 754, ../sass/AmGirlResp.scss */
.third {
  width: 33.3333333%;
}

/* line 758, ../sass/AmGirlResp.scss */
.gutters .whole,
.gutters .half,
.gutters .third {
  margin-right: 1%;
  margin-left: 1%;
}

/* line 760, ../sass/AmGirlResp.scss */
.gutters .whole {
  width: 98%;
}

/* line 761, ../sass/AmGirlResp.scss */
.gutters .half {
  width: 48%;
}

/* line 762, ../sass/AmGirlResp.scss */
.gutters .third {
  width: 31.3333333%;
}

/* line 764, ../sass/AmGirlResp.scss */
.gutters {
  margin-left: -1%;
  margin-right: -1%;
}

/*Media Queries begin here*/
/* line 777, ../sass/AmGirlResp.scss */
.productGrid_3 {
  position: absolute;
  width: 100%;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  /* line 792, ../sass/AmGirlResp.scss */
  html {
    background-color: lemonchiffon;
  }
}
@media all and (max-width: 768px) {
  /* line 801, ../sass/AmGirlResp.scss */
  .mobile_hide {
    display: none !important;
  }

  /* line 805, ../sass/AmGirlResp.scss */
  .mobile_show {
    display: inline-block;
  }

  /* line 808, ../sass/AmGirlResp.scss */
  header {
    padding-bottom: 0 !important;
  }

  /* line 811, ../sass/AmGirlResp.scss */
  .logoHolder {
    background-image: url("../img/AG_Logo.png") !important;
    display: inline-block !important;
    background-size: 65% !important;
    margin-top: 0 !important;
    margin-left: 32% !important;
    height: 50px !important;
  }

  /* line 820, ../sass/AmGirlResp.scss */
  #verticalMenu_Header {
    display: inline-block !important;
    margin-left: 4.5% !important;
    margin-top: 2%;
    position: absolute;
  }
  /* line 19, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .fa {
    color: #ffffff;
  }
  /* line 22, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .fa:hover {
    background-color: blue;
  }
  /* line 26, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .topLevelNavMenu, #verticalMenu_Header #verticalMenu_Header ul ul {
    display: none;
  }
  /* line 29, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .topLevelNavMenu:hover {
    border: 1px white solid;
  }
  /* line 33, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .topLevelNavMenu:hover, #verticalMenu_Header #verticalMenu_Header ul li:hover > ul {
    display: block;
  }
  /* line 36, ../sass/AmGirlResp.scss */
  #verticalMenu_Header #verticalMenu_Header:hover ul.topLevelNavMenu {
    display: block;
  }
  /* line 40, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .topLevelNavMenu, #verticalMenu_Header ul li {
    list-style-type: none;
  }
  /* line 43, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .topLevelNavMenu {
    margin: -.2% 0 0 -3%;
    font-size: 1.5em;
    line-height: 1.2em;
    width: 20%;
    text-decoration: none;
  }
  /* line 50, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .topLevelNavMenu li {
    background-color: linen;
    text-decoration: none;
    font-size: 1em;
    padding: 2px 0;
  }
  /* line 56, ../sass/AmGirlResp.scss */
  #verticalMenu_Header .topLevelNavMenu a {
    text-decoration: none;
  }

  /* hide the menus across the top*/
  /* line 829, ../sass/AmGirlResp.scss */
  .rightSideHeader {
    display: block !important;
    width: 100% !important;
    margin: 1.2% 2% 1% 0 !important;
    box-shadow: 1px -5px 29px -2px rgba(31, 30, 31, 0.42);
  }
  /* line 836, ../sass/AmGirlResp.scss */
  .rightSideHeader .searchHolder {
    margin-left: 4.5% !important;
    display: inline-block !important;
    width: 60% !important;
    margin-top: 1%;
  }
  /* line 842, ../sass/AmGirlResp.scss */
  .rightSideHeader .searchHolder input {
    display: inline-block;
    width: 80%;
    border: none;
    text-align: left;
  }

  /* line 853, ../sass/AmGirlResp.scss */
  .checkoutMenu {
    display: none !important;
  }

  /* line 857, ../sass/AmGirlResp.scss */
  .telLink {
    margin-top: -8.5% !important;
    margin-right: 4%;
    width: auto !important;
  }

  /* line 863, ../sass/AmGirlResp.scss */
  .berry-GradientButton {
    background: inherit !important;
    padding: 0;
    margin-left: 2%;
    border: none;
  }

  /* line 869, ../sass/AmGirlResp.scss */
  #second_Menu_Holder {
    display: none !important;
  }

  /* line 872, ../sass/AmGirlResp.scss */
  #third_Menu_Holder {
    height: 1px;
  }
  /* line 874, ../sass/AmGirlResp.scss */
  #third_Menu_Holder .product_Category_Link_Menu {
    display: none !important;
  }
  /* line 877, ../sass/AmGirlResp.scss */
  #third_Menu_Holder .shoppingActionsMenu {
    margin-top: -8% !important;
    right: -14% !important;
  }
  /* line 883, ../sass/AmGirlResp.scss */
  #third_Menu_Holder .shadow_top {
    box-shadow: none;
  }
  /* line 886, ../sass/AmGirlResp.scss */
  #third_Menu_Holder #checkOutLink {
    display: none !important;
  }

  /* line 891, ../sass/AmGirlResp.scss */
  .grayBar {
    display: none !important;
  }

  /* line 894, ../sass/AmGirlResp.scss */
  #content.content.shadow_top {
    box-shadow: none;
  }

  /* line 897, ../sass/AmGirlResp.scss */
  .content {
    padding-top: 1% !important;
    margin: 2% 1%;
  }
  /* line 900, ../sass/AmGirlResp.scss */
  .content .productArea {
    width: auto !important;
  }
  /* line 902, ../sass/AmGirlResp.scss */
  .content .productArea .filter_Expanded {
    display: block !important;
    width: auto !important;
  }
  /* line 906, ../sass/AmGirlResp.scss */
  .content .productArea .image_Area {
    display: block !important;
    width: 100% !important;
  }
  /* line 910, ../sass/AmGirlResp.scss */
  .content .productArea .bannerImgHolder {
    width: 100% !important;
    display: block !important;
  }
  /* line 913, ../sass/AmGirlResp.scss */
  .content .productArea .bannerImgHolder img {
    max-width: 98% !important;
    width: 98% !important;
    margin: 1%;
  }
  /* line 920, ../sass/AmGirlResp.scss */
  .content .productArea .imgText, .content .productArea .imgText_5col {
    width: 99% !important;
  }
  /* line 923, ../sass/AmGirlResp.scss */
  .content .productArea .leftSide58 {
    width: 100% !important;
    /*this is for the 5 image col page, lower image, left side*/
    display: block !important;
  }
  /* line 928, ../sass/AmGirlResp.scss */
  .content .productArea .rightSide40 {
    width: 100% !important;
    /*this is for the 5 image col page, lower image, right side*/
    display: block !important;
  }
  /* line 933, ../sass/AmGirlResp.scss */
  .content .productArea .ui-grid-d {
    display: none;
  }
  /* line 938, ../sass/AmGirlResp.scss */
  .content .productArea #c_carousel {
    display: block !important;
    /* Style the pagination button with dot */
    /* Same as prev and next button, we use the same css sprite */
  }
  /* line 941, ../sass/AmGirlResp.scss */
  .content .productArea #c_carousel #c_carousel .pager {
    display: block !important;
  }
  /* line 947, ../sass/AmGirlResp.scss */
  .content .productArea #c_carousel #c_carousel .pager a {
    width: 32% !important;
  }

  /*.topLevelNavMenu,#vertMenuHolder ul ul {
    display: none;
  }

  #vertMenuHolder ul li:hover > ul {
    display: block;
  }
  #vertMenuHolder:hover ul.topLevelNavMenu{
    display: block;

  }
  .topLevelNavMenu, ul li  {
    list-style-type: none;
  }
  .topLevelNavMenu   {
    margin: -.2% 0 0 -3%;
    font-size:1.5em;
    line-height: 1.2em;
    width: 20%;
    text-decoration: none;
  }
  .vertMenuHolder li  {
    background-color: linen;
    text-decoration: none;
    font-size: 1em;
    padding: 2px 0;
  }
  .vertMenuHolder a{
    text-decoration: none;
  }
  */
}
@media all and (max-width: 30em) {
  /* line 987, ../sass/AmGirlResp.scss */
  .content #c_carousel .pager a {
    width: 18% !important;
  }

  /* line 990, ../sass/AmGirlResp.scss */
  .telLink {
    margin-top: -12.5% !important;
    width: auto !important;
  }

  /* line 994, ../sass/AmGirlResp.scss */
  .mobile_hide {
    display: none;
  }

  /* line 998, ../sass/AmGirlResp.scss */
  .mobile_show {
    display: inline-block;
  }

  /* line 1001, ../sass/AmGirlResp.scss */
  .logoHolder {
    background-image: url("../img/AG_Logo.png") !important;
    margin-left: 26% !important;
    background-size: 75% !important;
  }

  /* line 1006, ../sass/AmGirlResp.scss */
  .berry-GradientButton {
    margin-left: -26% !important;
  }

  /* line 1010, ../sass/AmGirlResp.scss */
  #third_Menu_Holder .shoppingActionsMenu {
    margin-top: -10.5% !important;
  }

  /* line 1014, ../sass/AmGirlResp.scss */
  .grid_image {
    width: 49% !important;
  }

  /* line 1018, ../sass/AmGirlResp.scss */
  #carousel {
    background-color: rgba(255, 255, 224, 0.25);
  }

  /* line 1021, ../sass/AmGirlResp.scss */
  #carousel img {
    max-width: 60% !important;
  }
}
@media all and (max-width: 25em) {
  /* line 1033, ../sass/AmGirlResp.scss */
  html {
    background-color: lightblue;
  }

  /* line 1034, ../sass/AmGirlResp.scss */
  .mobile_hide {
    display: none !important;
  }

  /* line 1038, ../sass/AmGirlResp.scss */
  .mobile_show {
    display: inline-block;
  }

  /* line 1041, ../sass/AmGirlResp.scss */
  .logoHolder {
    background-image: url("../img/AG_Logo.png") !important;
  }

  /* line 1048, ../sass/AmGirlResp.scss */
  .my-breakpoint .ui-block-a,
  .my-breakpoint .ui-block-b,
  .my-breakpoint .ui-block-c,
  .my-breakpoint .ui-block-d,
  .my-breakpoint .ui-block-e {
    width: 100%;
    float: none;
  }

  /* line 1052, ../sass/AmGirlResp.scss */
  #carousel img {
    margin-left: 2.5% !important;
  }
}
/* line 1059, ../sass/AmGirlResp.scss */
.factory {
  width: 100%;
}
@media (min-width: 960px) {
  /* line 1059, ../sass/AmGirlResp.scss */
  .factory {
    width: 62.5%;
  }
}
@media (max-width: 768px) {
  /* line 1059, ../sass/AmGirlResp.scss */
  .factory {
    width: 50%;
  }
}

/* line 1085, ../sass/AmGirlResp.scss */
.factory {
  width: 100%;
  width: 62.5%;
  width: 50%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
}
